<!-- <div class="plan-details">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">$1099</h5>
          <p class="card-text"></p>   in this we can use a hyper link tag for view details of the plan
        </div>
        <ul class="list-group list-group-flush"><pre>
          <li class="list-group-item">Validity</li>
          <li class="list-group-item">84 Days</li>
          <li class="list-group-item">A third item</li>
        </pre>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      
</div> -->
<app-login-header></app-login-header>
<body>
    <div class="container">
      <div class="column">
        <div class="pricing-card basic">
          <div class="pricing-header">
            <span class="plan-title">Plan 399</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>399</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <!-- <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div> -->
          <ul>
            <li style="margin-top: 5rem">
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong>Next Billing Cycle
            </li>
            <li>
              <strong>75GB/Month</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> N/A
            </li>
            <li>
              <strong>Sms &nbsp; </strong> 3000/month
            </li>
            
          </ul>  
        </div>
      </div>
      <div class="column">
        <div class="pricing-card echo">
          <div class="pricing-header">
            <span class="plan-title">Plan 599</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>599</span>
              </span>
              <span class="info">599/Month</span>
            </div>
          </div>
          <!-- <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div> -->
          <ul>
            <li style="margin-top: 5rem">
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong>Next Billing Cycle
            </li>
            <li>
              <strong>120GB/Month</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix 
            </li>
            <li>
              <strong>Sms &nbsp; </strong> 3000/month
            </li>
            
          </ul>  
          
        </div>
      </div>
      <div class="column">
        <div class="pricing-card pro">
          <!-- <div class="popular">POPULAR</div> -->
          <div class="pricing-header">
            <span class="plan-title">Plan 699</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>699</span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <!-- <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div> -->
          <ul>
            <li style="margin-top: 5rem">
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> Next Billing Cycle
            </li>
            <li>
              <strong>180GB/Month</strong>
            </li>
            <li>
              <strong>Subsriptions &nbsp; </strong> Netflix ,ProCinema
            </li>
            <li>
              <strong>Sms &nbsp; </strong> 3000/month
            </li>
            
          </ul>  
         
        </div>
      </div>
      <div class="column">
        <div class="pricing-card business">
          <div class="pricing-header">
            <span class="plan-title">Plan 899</span>
            <div class="price-circle">
              <span class="price-title">
                <small>₹</small><span>899 </span>
              </span>
              <span class="info">/ Month</span>
            </div>
          </div>
          <!-- <div class="badge-box">
            <span><div class="btn"><Button>Recharge now</Button></div></span>
          </div> -->
          <ul>
            <li style="margin-top: 5rem">
              <strong>Unlimited true 5g data</strong>
            </li>
            <li>
              <strong>Validity</strong> Next Billing Cycle
            </li>
            <li>
              <strong>250GB/Month</strong>
            </li>
            <li>
              <strong>Subsriptions </strong> Netflix,Amazon Prime
            </li>
            <li>
              <strong>Sms &nbsp; </strong> 3000/month
            </li>
          </ul>  
          
        </div>
      </div>
    </div>
  </body>