/* @import url(https://fonts.googleapis.com/css?family=Lato:300); */

/* Variables */
:root {
  --light: #CDF6FA;
  --bg_1: #111E25;
  --bg_2: #111111;
}
.navheader{
    width: 100%;
    height: 70px;
    background-color: rgb(234,35,41);
}

Reset and basic styling
* {
  margin: 0;
  padding: 0;
}
.feedback{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgb(234,35,41);
}

html, body {
  width: 100%;
  height: 100%;
  color: var(--light);
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(120deg, var(--bg_1), var(--bg_2));
}

/* Wrapper */
.wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

/* Feedback Section */
.feedback h1 {
  text-align: center;
}

/* Form Elements */
.row {
  position: relative;
  margin-top: 25px;
}

.row input,
.row textarea {
  width: 25em;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--light);
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  background: linear-gradient(120deg, var(--bg_2), var(--bg_1));
}

/* Buttons */
.button {
  text-align: center;
}

.button button {
  width: 25em;
  padding: 10px;
  margin: 0;
  border: 1px solid var(--light);
  border-radius: 3px;
  font-family: inherit;
  color: inherit;
  font-size: 15px;
  background: linear-gradient(120deg, var(--bg_2), var(--bg_1));
  transition: all 0.4s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.button button:hover {
  background: var(--light);
  color: var(--bg_2);
}

/* Labels */
.label {
  position: absolute;
  top: 11px;
  left: 11px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #888888;
  cursor: text;
  transition: all 0.20s ease-in-out 0s;
}

.row_input:focus {
  box-shadow: inset 0 0 5px var(--light);
}

.row_input:focus ~ .label,
.row_input:valid ~ .label {
  top: -18px;
  left: 0;
  font-size: 16px;
  color: var(--light);
}

.row_input:focus ~ .label::first-letter,
.row_input:valid ~ .label::first-letter {
  text-transform: uppercase;
}

