<app-login-header></app-login-header>


<div class="login-formcontainer form" >

    
        <div class="mb-3">
            <h2 class="heading">LOGIN</h2>
            <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
            <div class="input-mno">
                <input type="email" class="form-control"  value="{{mobileno}}" [formControl]="mobileno" [readonly]="isphnoreadonly"
                    [value]="mobileno" aria-describedby="emailHelp" maxlength="10">

                <button class="edit-btn" (click)="toggleEditMode()" *ngIf="isphnoreadonly"><img src="../../../assets/editing.png" alt=""></button>
                
            </div>
            <div class="error-text">
                <div> <small class="text-danger" > {{usermsg}}  </small>  </div>
                <div *ngIf="mobileno.invalid"><small class="text-danger" *ngIf="mobileno.errors?.['pattern']">Enter a
                        valid Phone Number</small> </div>
                <div *ngIf="mobileno.touched"><small class="text-danger"
                        *ngIf="mobileno.errors?.['minlength'] || mobileno.errors?.['maxlength'] ">Mobile Number should
                        be of 10 numbers</small></div>
            </div>
            <a *ngIf="otpen" (click)="enableotp()" style="float: right;margin-right: 4rem;color:blue;font-weight: 600;border: 1px solid blue;
                                    background-color: white;  padding: 5px;border-radius: 10px;cursor: pointer;">Resend Otp</a>
            <br>
        </div>
        <div *ngIf="otpen && loginenable" class="mb-3">
            <label for="exampleInputPassword1" class="form-label">OTP</label>
            <input type="text" class="form-control" [formControl]="otpno" id="exampleInputPassword1" maxlength="6">
            <div *ngIf="otpno.touched" class="otp-error-text">
                <div *ngIf="otpno.invalid && otpno.touched"><small class="text-danger"
                        *ngIf="otpno.errors?.['minlength'] || otpno.errors?.['pattern']">otp is invalid</small></div>
            </div>
            <div class="login-btn">
                <a><button type="submit" (click)="userLogin()" (click)="userAccoutStore(mobileno)" class="btn log btn-primary">Login</button></a>
            </div>
        </div>
        <div class="otp-button">
            <button type="submit" class="btn btn-primary"   *ngIf="!otpen"
                [style.backgroundColor]="mobileno.valid?'rgb(234,35,41)':''" [disabled]="mobileno.invalid"
                (click)="enableotp()">Send OTP</button>
        </div>
    
</div>